@charset 'UTF-8';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(../img/pexels-imagenbruja-7423974.jpg);
  background-repeat: no-repeat;
  background-position: center, center;
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Roboto', sans-serif;
  background-color: #000000b6;

  color: #ffffff;
  font-size: 16px;
  line-height: 1.6;
  margin: 0;
  padding: 0;
}
section.container {
  width: 700px;
  height: 400px;
  margin-top: 50px;
  padding: 20px;
  text-indent: 20px;
  text-align: center;
  background-color: #ffffff00;
  border-radius: 30px;
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.767);
  box-shadow: 0 0 30px rgb(255, 255, 255, 0.767);
}
h1 {
  margin-bottom: 0px;
  margin-top: 40px;
  font-size: 3.5em;
}
.relogio {
  margin-top: 0px;
  font-size: 4em;
}
button {
  width: 100px;
  color: white;
  padding: 10px;
  margin: auto;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: large;
  backdrop-filter: 10px;
  box-shadow: 0px 0px 10px rgb(255, 255, 255);
  border: 2px solid rgba(255, 255, 255, 0.274);
  background-color: rgba(170, 170, 170, 0.247);
}
.pausado {
  color: rgb(170, 170, 170);
}
button.pausar {
  margin: 0px 20px 0px 20px;
}
button:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all 0.3s;
}
.relogio {
  padding-top: 0px;
  
}
