@charset 'UTF-8';

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background: #000000;
  font-family: Arial, sans-serif;
}

h1 {
  margin-bottom: 50px;
  flex-flow: column nowrap;
}

.container {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  background: #838383;
  box-shadow: 0px 0px 20px #ffa600;
  border: ridge 2px #ffa600;
  border-radius: 30px;
  font-size: 1.5em;
  width: 50%;
  margin: auto;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
h1 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5em;
  text-align: center;
  margin-bottom: 10px;
}
.input-tarefa {
  min-width: 100px;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: none;
}
.btn-tarefa {
  padding: 10px 20px;
  font-size: 15px;
  color: #000000;
  background: rgba(255, 255, 255, 0.63);
  border: 2px solid rgba(17, 17, 17, 0.548);
  border-radius: 50px;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1),
    inset 0 2px 4px rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.btn-tarefa:hover {
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.15), inset gray;
}
